# Node.js Server PORT
PORT="8080"
# Node.js environment
NODE_ENV="production" # development or production

# XMTP Agent Sdk variables, generate using
XMTP_ENV="production" # local, dev, production
XMTP_WALLET_KEY="0x" # the private key of the wallet
XMTP_FORCE_DEBUG="false" # set to true to force detailed debugging logs
XMTP_DB_ENCRYPTION_KEY="" # (optional) a random 32 bytes encryption key for local db encryption
RAILWAY_VOLUME_MOUNT_PATH="." # custom db path with persistent data volume (set to volume mount path eg. `/app/data/` to deploy to railway)

# OpenAI api key, get yours at https://platform.openai.com
OPENAI_API_KEY="sk-proj-"

# Squabble Api Url
SQUABBLE_URL="http://localhost:3001"

# Squabble Agent Secret, generate yours with `openssl rand -base64 32`
AGENT_SECRET="xyz"

# Squabble Agent Secret, generate yours with `openssl rand -base64 32`
RECEIVE_AGENT_SECRET="random"